.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max
}

main{
  display: flex;
  justify-content: center;
  width: 100%;
}

form{
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies{
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 1rem;
}